version: "3.8"

services:
  api_dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    networks:
      - backend
    volumes:
      - ./backend/belay_me:/app/belay_me
    ports:
      - "8080:80"
  api_tests:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: test
    networks:
      - backend
    volumes:
      - ./backend/belay_me:/app/belay_me
      - ./backend/test:/app/test
    environment:
      - API_URL=api_dev:80

networks:
  backend:
